body {
    background: var(--color01);
}

/* Header */
header {
    padding: 0 40px;
}

.menu {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.navbar a:hover {
    color: var(--color07);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Main */
main {
    background: url(../assets/pattern.png), linear-gradient(45deg, var(--color02), var(--color04));
    padding: 80px;
    box-shadow: inset 0 -250px #fff;
}

main h1 {
    text-align: center;
    margin-bottom: 80px;
}

.cardContainer {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
}

.card {
    min-width: 280px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 4px 0 #00000040, 0 0 12px 0 #00000020;
}

.cardHeader {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cardHeader p {
    position: absolute;
    padding: 8px;
    background: var(--color08);
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    display: block;
    top: 58px;
    left: 50%;
    transform: translate(-50%);
}

.cardHeader sup {
    font-size: 1rem;
}

.cardContent {
    padding: 20px;
    background: var(--color00);
}

.silver {
    background: var(--color06);
}

.gold {
    background: var(--color07);
}

.cardContent ul {
    margin: 0 auto;
    width: fit-content;
}

.cardContent ul li {
    margin-bottom: 20px;
    list-style-image: url(../assets/marcador.png);
    list-style-position: inside;
}

/* Advantages */
.advantages {
    background: var(--color00);
}

.advantages svg {
    max-width: 70px;
    display: block;
    margin: 0 auto;
}

.advantages h1 {
    text-align: center;
    margin-bottom: 40px;
}

.advantages h2 {
    text-align: center;
    margin: 20px auto;
}

.advantages p {
    text-align: center;
    margin-bottom: 80px;
    line-height: 1.5rem;
}

svg.animate path {
    animation: svg-animate 3s forwards infinite ease-in;
}

@keyframes svg-animate {
    from {}

    to {
        stroke-dashoffset: 0;
    }
}

/* Footer */

footer {
    padding: 40px;
}

footer p {
    text-align: center;
}

footer p:nth-child(odd) {
    margin-bottom: 8px;
}

@media (max-width: 900px) {
    .menu {
        flex-direction: column;
        gap: 40px;
    }

    .cardContainer {
        flex-direction: column;
        gap: 40px;
    }

    .card {
        max-width: 100px;
    }
}

@media (max-width: 460px) {

    .menu,
    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    footer p:nth-child(odd) {
        margin-bottom: 10px;
    }
}