:root {
    --color00: #FFFFFF;
    --color01: #0A0312;
    --color02: #22004A;
    --color03: #360b67;
    --color04: #5200B0;
    --color05: #a9a9a9;
    --color06: #555555;
    --color07: #9A8141;
    --color08: #000000;
}

.color-00 {
    color: var(--color00);
}

.color-01 {
    color: var(--color01);
}

.color-02 {
    color: var(--color02);
}

.color-03 {
    color: var(--color03);
}

.color-04 {
    color: var(--color04);
}

.color-05 {
    color: var(--color05);
}

.color-06 {
    color: var(--color06);
}

.color-07 {
    color: var(--color07);
}

.color-08 {
    color: var(--color08);
}